.container {
    width: 100%;
    background-color:aqua;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

}

.first_div { 
    background-color: red;
    grid-column: 1/8;
    grid-row: 1/5;
}

.second_div {
    background-color: blue;
    grid-column: 8/11;
    grid-row: 1/5;
}

.third_div {
    background-color: green;
    grid-column: 1/8;
    grid-row: 5/11;
}

.four_div {
    background-color: blueviolet;
    grid-column: 8/11;
    grid-row: 5/11;
}